.mat-chip {
  font-size: 12px;
  color: #333333;

  &.chip-open {
    background-color: #E2C2B9;
  }

  &.chip-closed {
    background-color: #BFD8B8;
  }

  &.chip-in-progress {
    background-color: #E7EAB5;
  }
}
